.container {
  display: flex;
  flex-direction: column;
  height: 23.2rem;
  width: 39.591rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item-wrapper {
  list-style-type: none;
}

.item {
  border-radius: 0.895rem;
}
